@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '../../node_modules/@mdxeditor/editor/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

.prose strong {
  font-weight: 600;
}

/* styles for editor component */
._editorWrapper_uazmk_154 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

._rootContentEditableWrapper_uazmk_1097 {
  position: relative;
  flex-grow: 1;
}

._toolbarRoot_uazmk_160 {
  border-radius: 0 !important;
}

._popupContainer_uazmk_1220 {
  z-index: 60 !important;
}

.mdxeditor-root-contenteditable a {
  pointer-events: none;
}

.prose :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 0;
  margin-top: 0;
}